<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bruger Dashboard</title>
    <link rel="stylesheet" href="/generalstyle.css">

</head>
<body>
<h1>Bruger Dashboard</h1>

<div class="button-container">
    <button onclick="window.location.href='/admin/create-user'" style="background-color: #007bff">Tilføj ny bruger</button>
    <button onclick="window.location.href='/'">Log ud</button>
</div>

<table>
    <thead>
    <tr>
        <th>Navn</th>
        <th>Brugernavn</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Rolle</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${user.fname + ' ' + user.lname}" data-label="Navn"></td>
        <td data-label="Brugernavn">
            <a th:href="@{/admin/user/{username}(username=${user.username})}"
               th:text="${user.username}"></a>
        </td>
        <td th:text="${user.email}" data-label="Email"></td>
        <td th:text="${user.phone}" data-label="Telefon"></td>
        <td th:text="${user.role}" data-label="Rolle"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
