<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/generalstyle.css">
</head>
<body>
<h2>Er du sikker på, at du vil slette brugeren <span th:text="${username}"></span>?</h2>
<form th:action="@{/admin/delete-user}" method="post">
    <input type="hidden" name="username" th:value="${username}" />
    <button class="buttonHeader" type="submit"><a href="/admin"> Ja, slet</a></button>
    <button class="buttonHeader">  <a href="/admin">Nej, gå tilbage</a> </button>
</form>
</body>
</html>