<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <title>Rediger Skade</title>
  <link rel="stylesheet" href="/stylesheet.css">
</head>

<h1>Rediger Skade</h1>

<div class="buttonHeader-container">
  <button class="buttonHeader" onclick="window.location.href='/damageCRUD'">Tilbage</button>
  <button class="buttonHeader" onclick="window.location.href='/'">Log ud</button>
</div>

<body>

<form th:action="@{/damage/update}" th:object="${damage}" method="post">
  <input type="hidden" th:field="*{damage_id}" />

  <label for="description">Beskrivelse:</label>
  <input type="text" id="description" th:field="*{description}" required/>

  <label for="price">Pris:</label>
  <input type="number" id="price" th:field="*{price}" required min="0" step="0.01"/>

  <div class="button-container">
    <button type="submit">Gem ændringer</button>
  </div>
</form>

</body>
</html>
